/*police*/
@font-face {
    font-family: 'alex_brushregular';
    src: url("police/alex_brush/alexbrush-regular-webfont.eot");
    src: url("police/alex_brush/alexbrush-regular-webfont.eot?#iefix") format('embedded-opentype'),
         url("police/alex_brush/alexbrush-regular-webfont.woff2") format('woff2'),
         url("police/alex_brush/alexbrush-regular-webfont.woff") format('woff'),
         url("police/alex_brush/alexbrush-regular-webfont.ttf") format('truetype'),
         url("police/alex_brush/alexbrush-regular-webfont.svg#alex_brushregular") format('svg');
    font-weight: normal;
    font-style: normal;

}
  @font-face {
    font-family: 'robotoregular';
    src: url("police/roboto/Roboto-Regular-webfont.eot");
    src: url("police/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("police/roboto/Roboto-Regular-webfont.woff2") format("woff2"), url("police/roboto/Roboto-Regular-webfont.woff") format("woff"), url("police/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("police/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
/*fin police*/

  /*couleur site*/
  $couleur1:#F1F2F2;
  $couleur2:#FEDCD2;
  $couleur3:#C1EEE8;
  $couleur4:#DF744A;
  $couleur5:#046380;
  $couleur6:#FFBD4F;
  $couleur7:#1B5E55;
  $couleur8:#DCB239;
/*fin couleur site*/


/*apparition des "sources"*/
@keyframes fondu{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@mixin valeur_fondu1 {
    animation: fondu 1s ease-in-out;
}
@mixin valeur_fondu2 {
    animation: fondu 2s ease-in-out;
}
@mixin valeur_fondu3 {
    animation: fondu 3s ease-in-out;
}
/*fin animation*/

/*html code commun*/
html{
    background-color: $couleur5;
}
.bloc_page{
    width: 100%;
    max-width: 1000px;
    background-color: lighten($couleur1, 50);
    border-radius: 20px;
    height: auto;
    margin:auto;
    font-size: 1.14rem;
    font-family: robotoregular, Arial, sans-serif;
        a{
            text-decoration: none;
        }
}
/*fin html code commun*/



/*code page d'accueil*/
header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $couleur3;
    border-radius: 20px 20px 0 0;
    .logo{
        width: 100%;
        height: auto;
            .logo_polangue{
                width: 35%;
                height: auto;
                box-sizing: border-box;
                padding-left:5%;
            }
    }
    nav{
        width: 50%;
        height: auto;
        display: flex;
        font-size: 170%;
        font-weight: bold;
        margin: 0;
            ul{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: flex-end;
                    li{
                        display: flex;
                        margin: 5%;
                        font-family: alex_brushregular, Arial, sans-serif;
                        cursor: pointer;
                            a{
                             color: $couleur4;
                                &:hover{
                                    color: darken($couleur4,15);
                                }
                             }
                    }
            }
    }
}
.titre{
    background-image: url(ban/fond.jpg);
    background-size: cover;
	background-position: center;
    width: 100%;
    height: 200px;
    h1{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 190%;
        margin: 0;
    }
    h2{
        font-size: 140%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.presentation{
    display: flex;
    justify-content: space-between;
    width: calc (100%-5%);
    height: auto;
    margin: 5% 2% 5% 2%;
        .services{
            width: 62%;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
                .service_block1, .service_block2, .service_block3{
                    width: 100%;
                    height: 30%;
                    border-radius: 20px;
                    display: flex;
                    box-shadow: 6px 6px 6px darken($couleur8,40);
                    cursor: pointer;
                    background-color: lighten($couleur8,30);
                        a{
                            width: 48%;
                            height: 100%;
                            justify-content: center;
                            align-content: center;
                            box-sizing: border-box;
                            padding: 1%;
                            border-radius: 20px 0 0 20px;
                        }
                        .presentation1{
                            background-image: url(image/traduction.jpg);
                            background-size: cover;
                            background-position: center;
                        }
                        .presentation2{
                            background-image: url(image/cour.jpg);
                            background-size: cover;
                            background-position: center; 
                        }
                        .presentation3{
                            background-image: url(image/voyage.jpg);
                            background-size: cover;
                            background-position: center;
                        }
                    &:hover{
                        background-color: lighten($couleur2,6);
                        box-shadow: 6px 6px 6px darken($couleur1,10);
                    }
                    h2{
                        font-style: italic;
                    }
                    p{
                        font-weight: 80;
                    }
                    h2, p{
                        border-radius: 20px;
                        width: 100%;
                        height: auto;
                        box-sizing: border-box;
                        padding: 2%;
                        margin: 0;
                        font-size: 100%;
                        color: $couleur7;
                        position: relative;
                        right:-110%
                    }
                }
                .service_block1{
                    @include valeur_fondu1;
                }
                .service_block2{
                    @include valeur_fondu2;
                }
                .service_block3{
                    @include valeur_fondu3;
                }
        }
        aside{
            width: 35%;
            height: 500px;
            border-radius: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            background-color: lighten($couleur8,30);
            background-color: lighten($couleur8,30);
                 h2{
                     font-size: 160%;
                    }
                 h3, li{
                font-size: 100%;
                color: $couleur7;
                }
                li{
                    margin-bottom: 4%;
                }
                &:hover{
                    background-color: lighten($couleur8,40);
                    box-shadow: 6px 6px 6px darken($couleur1,10);
                }
        }
}
footer{
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
    background-color: $couleur3;
    color: $couleur7;
        .contact1{
            width: 200%;
            height: auto;
                h2{
                    font-size: 140%;
                    padding-left: 2%;
                }
                ul{
                    font-size: 110%;
                    list-style-type: none;
                        li{
                            margin-bottom: 1%;
                        }
                        .mail:hover{
                            color: $couleur4;
                        }
                        a:hover{
                            color: $couleur4;
                        }
                }
                a{
                    color: $couleur7;
                }
                .fa-map-marker-alt, .fa-phone-alt, .fa-mobile-alt, .fa-envelope{
                    width: 20px;
                    height: auto;
                    margin-right: 2%;
                }
        }
        .contact2{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
                h2{
                    font-size: 140%;
                    padding-left: 2%;
                    display: flex;
                    justify-content: center;
                }
                ul{
                    display: flex;
                    justify-content: center;
                    font-size: 150%;
                    list-style-type: none;
                        a{
                            color: $couleur7;
                            &:hover{
                                color: $couleur4;
                            }
                        }
                        li{
                            width: 15%;
                            height: auto;
                            display: flex;
                            align-content: center;
                            justify-content: center;
                        }
                }
        }
}
